 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.header{
  position: fixed;
  background-color: gray;
  top: 0;
  left: 0;
  text-align: center;
  height: 2.4em;
  width: 100%;

  h1 {
    font-size: 2em;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.container {
  position: absolute;
  top: 2em;
}

span {
  display: block;
  padding: .5em;
}
